.find_select {
    width: 100%;
    height: 150px;
    padding-left: 330px;
    padding-top: 15px;
}

.find_select_layer1 {
    width: 900px;
    height: 100px;
}

.find_select-a {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.greencolor1 {
    background-color: rgba(37, 255, 132, 0.15);
}

.imgsetwh {
    width: 50px !important;
    height: 50px !important;
}

.modal-ys {
    margin: auto auto auto auto;
    padding-left: 20px;
}

.Afind-ys {
    width: 100%;
    height: 28px;
    margin-bottom: 5px;
}

.Afind-ys-showuser {
    width: 10%;
    height: 100%;
    float: left;
}

.Afind-left-ys {
    width: 15%;
    height: 100%;
    float: left;
    margin-left: 1019px;
    padding-left: 30px;
}

.Afind-right-ys {
    width: 5%;
    height: 100%;
    float: right;
    padding-top: 4px;
}

.A-findmusic {
}

.A-insertmusic {
}

.A-updatemusic {
}

.A-deletemusic {
}

.Ulisten-list {
    width: 100%;
    margin-top: 1px;
}

.Ulisten-list-left {
    width: 70%;
    float: left;
    margin-top: -10px;
}

.Ulisten-list-rigth {
    width: 30%;
    float: right;
    margin-top: -10px;
}

.index-list {
    width: 100%;
    height: 50%;
    margin-top: -5px;
    margin-bottom: 5px;
}

.index-list-left {
    width: 80%;
    height: 50%;
    float: left;
}

.index-list-rigth {
    width: 20%;
    height: 50%;
    float: right;
    padding-left: 20px;
}

.ys-style-two { /*透明渐变水平线*/
    width: 80%;
    margin: 0 auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.ys-style-one { /*内嵌水平线*/
    width: 80%;
    margin: 10px 20px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.music-list {
    width: 100%;
    height: 200px;
    margin-top: -5px;
    margin-bottom: 25px;
}

.music-list-left {
    width: 50%;
    height: 100%;
    margin-top: auto;
    float: left;
}

.music-list-rigth {
    width: 50%;
    height: 100%;
    margin-top: auto;
    float: right;
}

.music-list-left-singer {
    width: 30%;
    height: 100%;
    margin-top: auto;
    float: left;
}

.music-list-rigth-singer {
    width: 70%;
    height: 100%;
    margin-top: auto;
    float: right;
}

.music-list-lefts {
    width: 30%;
    height: 120px;
    margin-top: auto;
    padding-left: 100px;
    float: left;
}

.music-list-rigths {
    width: 70%;
    height: 120px;
    margin-top: auto;
    padding-left: 300px;
    float: right;
}

.personalhp {
    width: 100%;
    height: 330px;
    background-color: #fffffe;
}

.personalhp-title {
    width: 100%;
    height: 50px;
    padding-left: 424px;
    /*background-color: #2ceec3;*/
}

.personalhp-left {
    width: 50%;
    height: 100%;
    float: left;
    padding-left: 120px;
    /*background-color: #f4cf2f;*/
}

.personalhp-rigt {
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 120px;
    /*background-color: #f431df;*/
}